title {
    text-transform: capitalize;
}

div {
    margin: 0 auto;
}

div div {
    background: rgb(125, 218, 64);
    position: relative;
}

.andriod {
    height: 400px;
    width: 360px;
    padding: 0;
    margin: 100px auto;
    position: relative;
}

.head {
    height: 100px;
    width: 220px;
    border-radius: 110px 110px 0 0;
    /* position: relative; */
    top:33px;
}

.r_eye {
    background-color:rgb(109, 47, 255);
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    top: 55px;
    /* bottom: 210px; */
}

.r_ant {
    position: absolute;
    height: 70px;
    width: 6px;
    border-radius: 10px;
    transform: rotate(-30deg);
}

.l_ant {
    position: absolute;
    height: 70px;
    width: 6px;
    border-radius: 10px;
    transform: rotate(30deg);
    bottom: 145px;
    left: 50px;
}